<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sp.app.admin.mapper.AttendanceManageMapper">
	
	<sql id="where-list">
		<choose>	
			<when test="schType == 'name'">
				( INSTR(name, #{kwd}) &gt;= 1)
			</when>
			<otherwise>
				m1.memberId = #{kwd}
			</otherwise>
		</choose>
	</sql>
	
	<select id="dataCount" parameterType="map" resultType="Integer">
		SELECT COUNT(*)
		FROM member1 m1
		LEFT OUTER JOIN member2 m2 ON m1.memberId = m2.memberId
		LEFT OUTER JOIN attendanceBoard atb ON atb.memberId = m2.memberId
		<where>
			<if test="kwd != null and kwd != '' ">
				<include refid="where-list"/>
			</if>
		</where>
	</select>

	<select id="listAttendanceMember" parameterType="map" resultType="com.sp.app.admin.model.AttendanceManage">
	    SELECT m1.memberId, m2.name, COUNT(atb.memberId) AS attendanceCount, MAX(atb.regDate) AS lastAttendanceDate
	    FROM member1 m1
	    LEFT OUTER JOIN member2 m2 ON m1.memberId = m2.memberId
	    LEFT OUTER JOIN attendanceBoard atb ON atb.memberId = m2.memberId
	        <if test="start != null and end != null">
			    AND TRUNC(atb.regDate) BETWEEN #{start} AND #{end}
			</if>
	    <where>
	        <if test="kwd != null and kwd != ''">
	            <include refid="where-list" />
	        </if>
	    </where>
	    GROUP BY m1.memberId, m2.name
	    ORDER BY m1.memberId ASC
	    OFFSET #{offset} ROWS FETCH FIRST #{size} ROWS ONLY
	</select>
	
	<select id="memberCount" parameterType="map" resultType="Integer">
	    SELECT COUNT(DISTINCT m1.memberId)
	    FROM member1 m1
	    LEFT JOIN member2 m2 ON m1.memberId = m2.memberId
	    <where>
	        <if test="kwd != null and kwd != ''">
	            <include refid="where-list"/>
	        </if>
	    </where>
	</select>
	



	
	
	
</mapper>