<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sp.app.mapper.FaqMapper">

	<select id="listFaq" parameterType="map" resultType="com.sp.app.admin.model.FaqManage">
		SELECT faqId, subject, m2.name, fb.content, m1.memberId, fb.regDate, fb.updateId, fb.regUpdate, fc.categoryId, fc.categoryName, fb.updateName
		FROM faqBoard fb 
		JOIN faqCategory fc ON fb.categoryId = fc.categoryId
		JOIN member1 m1 ON m1.memberId = fb.memberId
		LEFT OUTER JOIN member2 m2 ON fb.memberId = m2.memberId
		LEFT OUTER JOIN member2 m3 ON fb.updateId = m3.memberId
		<where>
			<if test="categoryId != 0">
				( fc.categoryId = #{categoryId} )
			</if>
		</where>
		ORDER BY fc.categoryId
	</select>
	
	<!-- 카테고리 구역 -->
	<select id="listCategory" parameterType="map" resultType="com.sp.app.admin.model.FaqManage">
		SELECT categoryId, categoryName
		FROM faqCategory
		ORDER BY categoryId
	</select>
	

</mapper>