<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sp.app.admin.mapper.GongguReviewInquiryManageMapper">
	<select id="findAllReviews" resultType="com.sp.app.admin.model.GongguReviewManage">
	SELECT g.gongguOrderDetailId, m2.name AS userName, g.content, g.regDate, (CASE WHEN g.answer IS NOT NULL THEN 1 ELSE 0 END) AS status, g.gongguProductId, g.memberId, g.showReview, g.answerId, g.answerDate, g.answer, p.gongguProductName, g.rate, d.reviewImg AS photoFileName
	FROM gongguReview g
	JOIN member1 m1 ON g.memberId = m1.memberId
	JOIN member2 m2 ON m1.memberId = m2.memberId
	JOIN gongguProduct p ON g.gongguProductId = p.gongguProductId
	LEFT OUTER JOIN gongguReviewDetail d ON g.gongguOrderDetailId = d.gongguOrderDetailId
	ORDER BY g.regDate DESC
	</select>
	
	<select id="findAllInquirys" resultType="com.sp.app.admin.model.GongguInquiryManage">
	 	SELECT g.gongguProductName, i.content, i.regDate, (CASE WHEN i.answer IS NOT NULL THEN 1 ELSE 0 END) AS status, m2.name AS userName, m1.userId, m1.userLevel, c.categoryId,
	 		 c.categoryName, i.gongguInquiryId, i.answerId, i.answer, i.answerDate
	 	FROM gongguInquiry i
	 	LEFT JOIN gongguProduct g ON i.gongguProductId = g.gongguProductId
		LEFT JOIN member1 m1 ON i.memberId = m1.memberId
		LEFT JOIN member2 m2 ON m1.memberId = m2.memberId
		LEFT JOIN productCategory c ON g.categoryId = c.categoryId
		ORDER BY i.regDate DESC
	</select>
	
	<select id="findReviewsBySearch" parameterType="map" resultType="com.sp.app.admin.model.GongguReviewManage">
    SELECT g.gongguOrderDetailId, m2.name AS userName, g.content, g.regDate, (CASE WHEN g.answer IS NOT NULL THEN 1 ELSE 0 END) AS status, g.gongguProductId, g.memberId, g.showReview, g.answerId, g.answerDate, g.answer, p.gongguProductName, g.rate, d.reviewImg AS photoFileName
    FROM gongguReview g
    JOIN member1 m1 ON g.memberId = m1.memberId
    JOIN member2 m2 ON m1.memberId = m2.memberId
    JOIN gongguProduct p ON g.gongguProductId = p.gongguProductId
    LEFT OUTER JOIN gongguReviewDetail d ON g.gongguOrderDetailId = d.gongguOrderDetailId
    <where>
        <if test="gongguProductName != null and !gongguProductName.isEmpty()">
            AND p.gongguProductName LIKE '%' || #{gongguProductName} || '%'
        </if>
        <if test="kwd != null and !kwd.isEmpty()">
            AND (g.content LIKE '%' || #{kwd} || '%' OR m2.name LIKE '%' || #{kwd} || '%')
        </if>
    </where>
    ORDER BY g.regDate DESC
	</select>
	
	<select id="findInquirysBySearch" parameterType="map" resultType="com.sp.app.admin.model.GongguInquiryManage">
		SELECT g.gongguProductName, i.content, i.regDate, (CASE WHEN i.answer IS NOT NULL THEN 1 ELSE 0 END) AS status, m2.name AS userName, m1.userId, m1.userLevel, c.categoryId,
	 		 c.categoryName, i.gongguInquiryId, i.answerId, i.answer, i.answerDate
	 	FROM gongguInquiry i
	 	LEFT JOIN gongguProduct g ON i.gongguProductId = g.gongguProductId
		LEFT JOIN member1 m1 ON i.memberId = m1.memberId
		LEFT JOIN member2 m2 ON m1.memberId = m2.memberId
		LEFT JOIN productCategory c ON g.categoryId = c.categoryId
		<where>
	        <if test="gongguProductName != null and !gongguProductName.isEmpty()">
	            AND g.gongguProductName LIKE '%' || #{gongguProductName} || '%'
	        </if>
	        <if test="kwd != null and !kwd.isEmpty()">
	            AND (i.content LIKE '%' || #{kwd} || '%' OR m2.name LIKE '%' || #{kwd} || '%')
	        </if>
	    </where>
	    ORDER BY i.regDate DESC
	</select>
	
	<update id="updateAnswer" parameterType="com.sp.app.admin.model.GongguReviewManage">
		UPDATE gongguReview SET answer = #{answer}, answerDate = SYSDATE, answerId = #{answerId}
		WHERE gongguOrderDetailId = #{gongguOrderDetailId}
	</update>
	
	<select id="answerNameFindById" parameterType="Long" resultType="String">
	    SELECT name
	    FROM member2
	    WHERE memberId = #{answerId}
	</select>
	
	<update id="deleteAnswer" parameterType="Long">
		UPDATE gongguReview SET answerId = null, answer = null, answerDate = null WHERE gongguOrderDetailId = #{gongguOrderDetailId}
	</update>
	
	<delete id="deleteReview" parameterType="Long">
		DELETE FROM gongguReview WHERE gongguOrderDetailId = #{gongguOrderDetailId}
	</delete>
</mapper>