<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sp.app.mapper.ProductReviewMapper">
	<select id="dataCount"  parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*), 0) count
		FROM productReview
		WHERE productCode = #{productCode}
		<choose>
			<when test="sortBy==5">
				AND rate = 5 
			</when>
			<when test="sortBy==4">
				AND rate = 4 
			</when>
			<when test="sortBy==3">
				AND rate = 3  
			</when>
			<when test="sortBy==2">
				AND rate = 2 
			</when>
			<when test="sortBy==1">
				AND rate = 1 
			</when>
		</choose>
	</select>

	<select id="listReview" parameterType="map" resultType="com.sp.app.model.ProductReview">
		SELECT pr.reviewId, pr.memberId, pr.productCode, m2.name, rate, 
			content, showReview, regDate, answer, answerId, 
			answerDate, block, reviewImg
		FROM productReview pr
		JOIN member2 m2 ON pr.memberId = m2.memberId
		LEFT OUTER JOIN (
			SELECT reviewId, LISTAGG(reviewImg, ',') WITHIN GROUP(ORDER BY reviewId) reviewImg
			FROM productReviewDetail
			GROUP BY reviewId
		) rd ON pr.reviewId = rd.reviewId
		WHERE pr.productCode = #{productCode} AND showReview = 1 AND block = 0
		<choose>
			<when test="sortBy==5">
				AND rate = 5 
			</when>
			<when test="sortBy==4">
				AND rate = 4 
			</when>
			<when test="sortBy==3">
				AND rate = 3  
			</when>
			<when test="sortBy==2">
				AND rate = 2 
			</when>
			<when test="sortBy==1">
				AND rate = 1 
			</when>
		</choose>
		ORDER BY regDate DESC
		OFFSET #{offset} ROWS FETCH FIRST #{size} ROWS ONLY
	</select>
	
	<select id="findByReviewSummary" parameterType="map" resultType="com.sp.app.model.Summary">
		SELECT NVL(COUNT(*), 0) count,
			   ROUND(NVL(AVG(rate), 0), 1) ave
		FROM productReview
		WHERE productCode = #{productCode} AND showReview = 1 AND block = 0
	</select>
	
	<insert id="insertReview" parameterType="com.sp.app.model.ProductReview">
		INSERT INTO productReview(reviewId, rate, content, productCode, memberId, 
			regDate, showReview, block)
		VALUES(productReview_seq.NEXTVAL, #{rate}, #{content}, #{productCode}, #{memberId}, SYSDATE, 1, 0)
	</insert>
	
	<insert id="insertReviewPhoto" parameterType="com.sp.app.model.ProductReview">
		INSERT INTO productReviewDetail(reviewPhotoId, reviewId, reviewImg)
		VALUES(productReviewDetail_seq.NEXTVAL, #{reviewId}, #{reviewImg})
	</insert>
	
</mapper>