<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sp.app.admin.mapper.PromotionManageMapper">
	<!-- 등록 -->
	<insert id="insertPromotionManage" parameterType="com.sp.app.admin.model.PromotionManage">
		INSERT INTO promotion(promotionId , memberId, subject, imageFilename, regDate, postingStatus)
		VALUES (promotion_seq.NEXTVAL, #{memberId}, #{subject},  #{imageFilename}, SYSDATE, 1)
	</insert>
	
	<sql id="where-list">
		( INSTR(subject, #{kwd}) &gt; 0)
	</sql>
	
	<select id="dataCount" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*), 0)
		FROM promotion p
		JOIN member2 m ON p.memberId = m.memberId
		<where>
			<if test="kwd != null and kwd != '' ">
				<include refid="where-list"/>
			</if>
			AND postingStatus = 1
		</where>		
	</select>
	
	
	<select id="listPromotionManage" parameterType="map" resultType="com.sp.app.admin.model.PromotionManage">
		SELECT promotionId, p.memberId, m.name, subject, imageFilename, TO_CHAR(regDate, 'YYYY-MM-DD'), postingStatus
		FROM promotion p
		JOIN member2 m ON p.memberId = m.memberId
		<where>
			<if test="kwd != null and kwd != ''">
				<include refid="where-list"/>
			</if>
			AND postingStatus = 1
		</where>
		ORDER BY promotionId DESC
		OFFSET #{offset} ROWS FETCH FIRST #{size} ROWS ONLY
	</select>
		
	<select id="listAdvertisementManage" parameterType="map" resultType="com.sp.app.admin.model.PromotionManage">
		SELECT advertisingId, username, subject, content, TO_CHAR(regDate, 'YYYY-MM-DD') regDate, inquiryType, status,
		 postingStatus, email, tel, TO_CHAR(adverStart, 'YYYY-MM-DD') adverStart, TO_CHAR(adverEnd , 'YYYY-MM-DD') adverEnd
		 FROM advertising
		 WHERE postingStatus = 0 AND status = 5
	    ORDER BY regDate DESC
	    OFFSET #{offset} ROWS FETCH FIRST #{size} ROWS ONLY
	</select>
	
	<select id="findById" parameterType="Long" resultType="com.sp.app.admin.model.PromotionManage">
		SELECT promotionId, p.memberId, m.name, subject, imageFilename, TO_CHAR(regDate, 'YYYY-MM-DD') regDate, postingStatus
		FROM promotion p
		JOIN member2 m ON p.memberId = m.memberId
		WHERE promotionId = #{promotionId} AND postingStatus = 1
	</select>
	
	<select id="findByPrev" parameterType="map" resultType="com.sp.app.admin.model.PromotionManage">
		SELECT promotionId, subject, postingStatus
		FROM promotion p
		JOIN member2 m ON p.memberId = m.memberId
		<where>
			<if test="kwd != null and kwd != '' ">
				<include refid="where-list"/>
			</if>
			AND (promotionId &gt; #{promotionId})
			AND postingStatus = 1
		</where>
		ORDER BY promotionId ASC
		FETCH FIRST 1 ROWS ONLY
	</select>

	<select id="findByNext" parameterType="map" resultType="com.sp.app.admin.model.PromotionManage">
		SELECT promotionId, subject, postingStatus
		FROM promotion p
		JOIN member2 m ON p.memberId = m.memberId
		<where>
			<if test="kwd != null and kwd != '' ">
				<include refid="where-list"/>
			</if>
			AND (promotionId &lt; #{promotionId})
			AND postingStatus = 1
		</where>
		ORDER BY promotionId DESC
		FETCH FIRST 1 ROWS ONLY
	</select>
	
	<update id="updatePromotionManage" parameterType="com.sp.app.admin.model.PromotionManage">
		UPDATE promotion SET subject = #{subject}, imageFilename = #{imageFilename}
		WHERE promotionId = #{promotionId}
	</update>
	
	<delete id="deletePromotionManage" parameterType="Long">
		DELETE FROM promotion
		WHERE promotionId = #{promotionId}
	</delete>

</mapper>