<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sp.app.admin.mapper.QuizManageMapper">
	
	<sql id="where-list">
		<choose>	
			<when test="schType == 'name'">
				( INSTR(name, #{kwd}) &gt;= 1)
			</when>
			<otherwise>
				( INSTR(TO_CHAR(openDate, 'YYYYMMDD'), #{kwd}) &gt; 0
				        OR TO_CHAR(openDate, 'YYYY-MM-DD') = #{kwd})
			</otherwise>
		</choose>
	</sql>
	
	<select id="dataCount" parameterType="map" resultType="Integer">
		SELECT COUNT(*)
		FROM quizBoard
		<where>
			<if test="kwd != null and kwd != '' ">
				<include refid="where-list"/>
			</if>
		</where>
	</select>

	<select id="listQuiz" parameterType="map" resultType="com.sp.app.admin.model.QuizManage">
	    SELECT quizId, subject, content, answer, commentary, regDate, TO_CHAR(openDate, 'YYYY-MM-DD') openDate, insertId, name
	    FROM quizBoard qb
	    LEFT OUTER JOIN member2 m2 ON m2.memberId = qb.insertId
	    <where>
	        <if test="kwd != null and kwd != ''">
	            <include refid="where-list" />
	        </if>
	    </where>
	    ORDER BY openDate DESC
	    OFFSET #{offset} ROWS FETCH FIRST #{size} ROWS ONLY
	</select>
	
	<insert id="insertQuiz" parameterType="com.sp.app.admin.model.QuizManage">
		INSERT INTO quizBoard(quizId, subject, content, answer, commentary, regDate, openDate, insertId)
		VALUES(quizBoard_seq.NEXTVAL, #{subject}, #{content}, #{answer}, #{commentary}, SYSDATE, TO_DATE(#{openDate}, 'YYYY-MM-DD'), #{insertId})	
	</insert>
	
	<select id="findByQuiz" parameterType="Long" resultType="com.sp.app.admin.model.QuizManage">
		SELECT quizId, subject, content, answer, commentary, regDate, TO_CHAR(openDate, 'YYYY-MM-DD') openDate, insertId, m2.name
	    FROM quizBoard qb
	    LEFT OUTER JOIN member2 m2 ON m2.memberId = qb.insertId
	    WHERE quizId = #{quizId}
	</select>

	<delete id="deleteQuiz" parameterType="map">
		DELETE FROM quizBoard
		WHERE quizId = #{quizId}
	</delete>
	
	<update id="updateQuiz" parameterType="map">
		UPDATE quizBoard SET subject = #{subject}, content = #{content}, answer = #{answer}, commentary = #{commentary}, regDate = SYSDATE, insertId = #{insertId}, openDate = TO_DATE(#{openDate}, 'YYYY-MM-DD')
		WHERE quizId = #{quizId}
	</update>
	
	<select id="findByOpenDate" parameterType="String" resultType="com.sp.app.admin.model.QuizManage">
		SELECT quizId, subject, content, answer, commentary, regDate, TO_CHAR(openDate, 'YYYY-MM-DD') openDate, insertId, m2.name
	    FROM quizBoard qb
	    LEFT OUTER JOIN member2 m2 ON m2.memberId = qb.insertId
	    WHERE TO_CHAR(openDate, 'YYYY-MM-DD') = #{openDate}
	</select>
	
	<select id="findTodayQuiz" parameterType="String" resultType="com.sp.app.admin.model.QuizManage">
	    SELECT quizId, subject, content, answer, commentary
	    FROM quizBoard
	    WHERE TO_CHAR(openDate, 'YYYY-MM-DD') = TO_CHAR(SYSDATE, 'YYYY-MM-DD')
	    FETCH FIRST 1 ROWS ONLY
	</select>
	
	
</mapper>